.filter-group-block {
	background: #ffffff;
	padding: 1rem;
	border-radius: 16px;
	margin: 1.44rem 0;
	display: flex;
	flex-direction: column; // Wichtig: war vorher "row", bricht visuell

	.filter-list {
		display: flex;
		flex-wrap: wrap;
		gap: 0.75rem;
		margin-bottom: 1rem;
	}

	.filter-entry {
		background: #fff;
		border: 1px solid #32373c;
		border-radius: 20px;
		padding: 0.5rem 0.75rem;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
		font-size: 14px;
		line-height: 1.2;
		max-width: fit-content;

		strong {
			font-weight: 600;
		}
		.label_container,
		.chip_container {
			cursor: pointer;
		}

		.chip {
			background: #eef0f3;
			border-radius: 16px;
			padding: 0.25rem 0.5rem;
			display: inline-flex;
			align-items: center;
			gap: 0.4rem;
			font-size: 13px;
			color: #333;
		}
	}

	.components-button.is-tertiary.filter-remove-button {
		padding: 2px;
		height: fit-content;
		background: none;
		border: none;
		cursor: pointer;

		svg {
			width: 12px;
			height: 12px;
			fill: #666;
			transition: fill 0.2s ease;

			&:hover {
				fill: #000;
			}
		}
	}

	.filter-controls {
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
		padding: 1rem;
		background: #fff;
		border-radius: 8px;
		border: 1px solid #eee;

		.components-flex {
			display: flex;
			flex-direction: row;
			gap: 0.5rem;
			flex-wrap: wrap;
		}

		input,
		select {
			max-width: 300px;
			width: 100%;
		}
	}

	.add_filter_panel {
		box-sizing: border-box;
		border: 0;
		background: #efefef;
		width: 100%;
		padding: 1rem;
		border-radius: 8px;

		&.is-opened {
			h2 {
				margin: 0;
				padding: 0;
			}
		}
	}

	.add-filter-area {
		display: flex;
		justify-content: flex-end;
	}
}

.filter-group-block_popover {
	.components-popover__content {
		display: flex;
		flex-direction: column;
		gap: 12px;
		width: 300px;
		padding: 1.44rem;
		border: 1px solid #8f8f8f;
		border-radius: 16px;
		box-shadow: 3px 3px 20px #00000021;

		.input_fields {
			display: flex;
			flex-direction: column;
			gap: 16px;
		}
        .components-button{
align-self: flex-end;
}
	}
}
